

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: darkgoldenrod;
}
#text{
    transition: 0.3s ease;
}
div{
    position: absolute;
    bottom: 20px;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    font-size: 10px;
}
input{
    width: 50px;
    padding: 5px;
    font-size: 18px;
    background-color: darkgoldenrod;
    border:none;
    text-align: center;

}
input:focus{
    outline: none;

}